<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='access.request'}"/>
</sly>
<form action="/bin/accessrequest.txt" method="post">
    <label for="fname">Full Name</label>
  	<input type="text" name="fullName" class="fullName" /><br>
    <label for="email">Email</label>
  	<input type="text" name="Email" class="email" /><br>
    <label for="company">Company Name</label>
  	<input type="text" name="company" class="company" /><br>
	<input type="Submit" value="Send Request">
</form>