<div id="swagger-ui"></div>  

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientLib.all @ categories='ehimarketplace.swagger'}" />

<sly data-sly-set.url="${currentPage.path}/jcr:content/apispec.yaml"/>
<redoc spec-url="${url}"></redoc>

<script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js"></script>
